  @font-face {
    font-family: Norwester; src: url('fonts/norwester.otf');
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 4rem;
  }
  h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2.6rem;
  }
  h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: darkgrey;
    font-size: 2.1rem;
  }
  .tab_link {
    text-align: center;
    display: block;
    visibility: visible;
  }
  i {
    color: white;
    padding-left: 18px;
    padding-right: 18px;
  }
  .icon {
    float: left;
    position: block;
    overflow: auto;
  }
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #333;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  html {
    font-size: 12px !important;
  }
  @media(min-width:576px){html{font-size: 10px !important;}}
  #top {
    background-color:#00aeef;
    margin: 0px;
    padding: 15px;
  }
  #bottom {
    margin:0px;
    padding:0px;
    background-color:#eeeeee;
  }
  .social {
    margin-right: 5px;
  }
  .card {
    margin-bottom: 40px;
    /*min-height: 420px;*/
  }
  .card:hover {
    position: relative; top: -15px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
  }
  .card-title {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600 !important;
    color: white;
  }
  .card-content {
    min-height: 150px;
  }
  a:-webkit-any-link {
    text-decoration: inherit;
  }
  .card p,
  a:hover.card,
  .card a:hover {
    text-decoration: none !important;
    color: #333 !important;
  }
  .card-link {
    color: #333;
  }
  h2 a {
    color: white;
    text-decoration: underline !important;
  }
  h2 a:hover {
    color: white;
  }
  h2 a:active {
    color: white;
  }
  .bot-nav-bar {
    background-color: #E0E0E0;
    text-align: center;
    padding: 30px;
    /*border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-color: white;
    border-style: solid;*/
  }
  .prof_pic {
    min-width: 140px;
    max-width: 200px;
  }
