  @font-face {
    font-family: Norwester; src: url('fonts/norwester.otf');
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 4rem;
    line-height: 2.2rem;
  }
  h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2.7rem;
    line-height: 2.2rem;
  }
  h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: darkgrey;
    font-size: 2.1rem;
    line-height: 2.2rem;
  }
  .tab_link {
    text-align: center;
    display: block;
    visibility: visible;
  }
  i {
    color: white;
    padding-left: 18px;
    padding-right: 18px;
  }
  .icon {
    float: left;
    position: block;
    overflow: auto;
  }
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #333;
  }
  li {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 6px;
  }
  body {
    /*min-height: 100%;*/
    margin-bottom: 0 0 8rem;
    width: 100%;
  }
  html {
    font-size: 12px !important;
    min-height: 100%;
    width: 100%;
    position: relative;
  }
  @media(min-width:576px){
    html{font-size: 10px !important;}
  }
  #main {
    position: relative;
  }
  #top {
    background-color:#00aeef;
    margin: 0px;
    padding: 15px;
  }
  #bottom {
    background-color:#eeeeee;
  }
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E0E0E0;
  }
  .content {
    width:70%;
    padding-top:2%;
    padding-bottom:5%;
  }
  .content h2 {
    color: #333;
  }
  .content p {
    margin-bottom: 30px;
  }
  .social {
    margin-right: 5px;
  }
  .card {
    margin-bottom: 40px;
    /*min-height: 420px;*/
  }
  .card:hover {
    position: relative;
    top: -15px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
  }
  .card-title {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600 !important;
    color: white;
  }
  .card-content {
    min-height: 200px;
  }
  a:-webkit-any-link {
    text-decoration: inherit;
  }
  .card p,
  a:hover.card,
  .card a:hover {
    text-decoration: none !important;
    color: #333 !important;
  }
  .card-link {
    color: #333;
  }
  h2 a {
    color: white;
    text-decoration: underline !important;
  }
  h2 a:hover {
    color: white;
  }
  h2 a:active {
    color: white;
  }
  .bot-nav-bar {
    background-color: #E0E0E0;
    text-align: center;
    padding: 30px;
  }
  .bot-nav-but:hover h3 {
    font-weight: bold !important;
  }
  .prof_pic {
    min-width: 140px;
    max-width: 200px;
  }
